@import "styles/index";

.root {}

.content {
    display: flex;
    gap: 38px;
    padding-bottom: 46px;

    @include mq($SmDesktopWidth, max) {
        padding-top: 41px;
        padding-bottom: 129px;
    }
}

.left {
    flex: 1;
    margin-top: 76px;
    display: flex;
    flex-direction: column;
    gap: 27px;

    @include mq($SmDesktopWidth, max) {
        margin-top: 0;
    }
}

.right {
    img {
        position: relative !important;
        height: inherit !important;
    }

    @include mq($SmDesktopWidth, max) {
        display: none;
    }
}

.list{
    list-style-type: disc;
}