@import "styles/index";

.root {
    padding-top: 69px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
}

.hand {
    position: relative !important;
    width: inherit !important;
    height: inherit !important;
}

.text {
    font-weight: 500;
    font-size: 32px;
    line-height: 165.52%;
    font-family: 'Montserrat';
    white-space: nowrap;
}

.right{
    display: flex;
    flex-direction: column;
    gap: 44px;
}

.top {
    display: flex;
    gap: 180px;
}

.bottom{
    display: flex;
    justify-content: center;
}