@import "styles/index";

.root {
    padding-top: 43px;
    padding-bottom: 60px;
    padding-right: 61px;
    padding-left: 48px;
    background: rgba(217, 217, 217, 0.04);
    display: flex;
    gap: 10%;

    @include mq($MdDesktopWidth, max) {
        padding-top: 19px;
        padding-bottom: 38px;
        padding-left: 17px;
        padding-right: 21px;
    }

    @include mq($TabletWidth, max) {
        flex-direction: column-reverse;
    }
}

.left {
    display: flex;
    flex-direction: column;

    @include mq($TabletWidth, max) {
        margin-top: 24px;
    }
}

.title {
    font-weight: 500;
    font-size: 32px;
    line-height: 165.52%;
    font-family: 'Montserrat';

    @include mq($PhoneWidth, max) {
        font-size: 20px;
    }
}

.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-top: 43px;

    @include mq($TabletWidth, max) {
        margin-top: 28px;
    }

    @include mq($PhoneWidth, max) {
        font-size: 12px;
    }
}

.right {
    @include mq($MdDesktopWidth, max) {
        display: flex;
        justify-content: center;
    }
}

.img {
    background: linear-gradient(212.12deg, #7BBECD -6.43%, #6FD2E8 39.57%, #9867DE 96.46%);
    width: 392px;
    height: 392px;
    display: flex;
    justify-content: center;
    align-items: center;

    @include mq($MdDesktopWidth, max) {
        width: 285px;
        height: 285px;
    }

    @include mq($MPhoneWidth, max) {
        width: 240px;
        height: 240px;
    }

    img {
        position: relative !important;
    }
}

.wrapper {
    margin-top: 71px;

    button {
        width: 40%;

        @include mq($DesktopWidth, max) {
            width: 100%;
        }
    }

    @include mq($TabletWidth, max) {
        margin-top: 38px;
    }
}