@import "styles/index";

.root {
    padding-top: 68px;
    padding-bottom: 122px;
}

.title {
    font-weight: 500;
    font-size: 32px;
    line-height: 165.52%;
    font-family: 'Montserrat';
    text-align: center;
}

.content{
    margin-top: 76px;
    display: flex;
    gap: 21px;
}