// breakepoints
$DesktopWidth: 1280px;
$MdDesktopWidth: 1200px;
$SmDesktopWidth: 992px;
$TabletWidth: 768px;
$PhoneWidth: 576px;
$MPhoneWidth: 375px;
$SmPhoneWidth: 320px;


// Colors
$white: #FFFFFF;
$black: #000000;